*.txt
!animal.txt
!artist.txt
!color.txt
!color_flower.txt
!extended-color.txt
!flower.txt
!nationality.txt
!rShot.txt
!rChar.txt
!rTest.txt
!rSkin.txt
!rSex.txt
!rScene.txt
!rRiding.txt
!rRevCow.txt
!rPosing.txt
!rLingerie.txt
!rDoggy.txt
!rJob.txt
!rTechnique.txt
!furryChar.txt